BasedOnStyle: google
Standard: Cpp11
IndentWidth: 4
BreakBeforeBraces: Stroustrup
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Preserve
