[submodule "picojson"]
	path = thirdparty/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "ThreadPool"]
	path = thirdparty/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "cereal"]
	path = thirdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "sanitizers-cmake"]
	path = thirdparty/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "cuFHE"]
	path = thirdparty/cuFHE
	url = https://github.com/virtualsecureplatform/cuFHE.git
[submodule "backward-cpp"]
	path = thirdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "toml11"]
	path = thirdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
