[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "TFHEpp"]
	path = TFHEpp
	url = https://github.com/virtualsecureplatform/TFHEpp.git
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "sanitizers-cmake"]
	path = sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "cuFHE"]
	path = cuFHE
	url = https://github.com/virtualsecureplatform/cuFHE.git
[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "toml11"]
	path = toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
